<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👉 TypeScript Express Server</title>
    <style>
        body {
            max-width: 70%;
            margin: 0 auto;
            background-color: #181818;
            color: darkkhaki;
            font-size: 150%;
        }

        a {
            color: aquamarine;
        }

        p {
            color: antiquewhite;
        }
    </style>
</head>

<body>
    <h1>TypeScript Mongoose Express CRUD Mastery 😏</h1>
    <p>Develop a Node.js Express application with TypeScript as the programming language, integrating MongoDB with
        Mongoose for user data and order management.</p>
    <a href="https://github.com/aHasnat1997/simple_typescript_express_mongoose_crud">Repo_Link🔗</a>
</body>

</html>